input[type=text], select, textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.file-upload {
  background-color: #fff;
  width: 200px;
  height: 60px;
  box-shadow: 1px 1px 5px 1px rgb(109, 109, 128);
}
.file-upload:hover {
  box-shadow: 1px 1px 5px 1px rgb(112, 112, 238);
}
.modal-content {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  overflow: auto;
  height: 400px;
  width: 700px;
}
  