.items-container{
    display: flex;
    flex-direction: column;
}
.add-button {
    margin-left: 5px;

}
.add-btns {
    width: 50%;
    
}
table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 13%;
  }
  