.pushing-down-div{
  margin: 64px;
}
mat-toolbar {
  width: 100%;
  position: fixed;
  position: -webkit-sticky; /* For macOS/iOS Safari */
  top: 0; /* Sets the sticky toolbar to be on top */
  z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */

}
.spacer {
    flex: 1 1 auto;
  }

  section {
    display: table;
  }
 
  .small-screen-div {
    display: none;
  }
  
  .button-row {
    display: table-cell;
    width: 490px;
  }
  
  .button-row .mat-button-base {
    margin: 8px 8px 8px 0;
  }
  
  .button-row .mat-mini-fab {
    margin: 8px 8px 8px 0;
    background-color: #3699ff;
  }

  .flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
    width: 120px;
  }
  
.active-nav-item {
  color: #3699ff;
}

@media (max-width: 767px){
  .big-screen-div {
    display: none;
  }
  .small-screen-div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .pushing-down-div{
    margin: 128px;
  }
}